# Unit 3.6.4 Challenge

### Create a model to predict a house's value. We want to be able to understand what creates value in a house, as though we were a real estate developer.

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#df_less = pd.read_csv('MELBOURNE_HOUSE_PRICES_LESS.csv')
df_full = pd.read_csv('Melbourne_housing_FULL.csv')

In [3]:
df_full.shape

(34857, 21)

In [4]:
df_full.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [5]:
df_full.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
#df_full['Propertycount']

In [7]:
#df_full['Type']

rows_with_NaN = np.array(df_full.isna())

rows_with_NaN.shape

In [8]:
#Example: df.dropna(subset=['name', 'born'])

df_full = df_full.drop('Bedroom2', axis=1)

df_full = df_full.drop('Bathroom', axis=1)

In [ ]:
np.shape(df_full['Longtitude'])

(34857,)

In [ ]:
np.shape(df_full['Lattitude'])

(34857,)

In [ ]:
#df_full["Lattitude"] = df_full.loc[df_full["Lattitude"]].apply(lambda x: (x.dropna(), axis=1))

In [ ]:
latt_drop = df_full.loc[df_full['Lattitude'].isnull()].index

#df_full['Lattitude'].isna().value_counts()

df_full = df_full.drop(latt_drop)

print(df_full['Lattitude'].isna().value_counts())
print(df_full['Lattitude'].isna())

False    26881
Name: Lattitude, dtype: int64
0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
17       False
18       False
20       False
23       False
24       False
25       False
26       False
28       False
29       False
30       False
31       False
32       False
35       False
36       False
37       False
         ...
34820    False
34821    False
34822    False
34823    False
34824    False
34825    False
34826    False
34827    False
34828    False
34830    False
34831    False
34833    False
34834    False
34835    False
34836    False
34837    False
34841    False
34842    False
34843    False
34845    False
34846    False
34847    False
34848    False
34849    False
34850    False
34851    False
34852    False
34853    False
34854    False
34856    False
Name: Lattitude, Length: 26881, dtype: bool

In [ ]:

df_full.iloc[0:, 0].isnull().describe()

df = df_full.iloc[0:,0].dropna()

print((df_full.iloc[0:,0].isnull() == True).value_counts())

False    26881
Name: Suburb, dtype: int64

In [ ]:
#df_full = df_full.dropna(axis='columns')

lattNa = df_full['Lattitude'].isna()
for item in lattNa:
    if item == True:
        df_full = df_full.drop(df_full['Lattitude'], axis='Lattitude')

In [ ]:
df_full.shape

(26881, 19)

In [ ]:
from sklearn.metrics import pairwise_distances

#sklearn.metrics.pairwise_distances(X, Y=None, metric=â€™euclideanâ€™, n_jobs=None, **kwds)

df_full.insert(19, 'longit_latit_Eucledian_Distance', '')

df_full['longit_latit_Eucledian_Distance'] = pairwise_distances(np.array(df_full['Longtitude']).reshape(-1,1), np.array(df_full['Lattitude']).reshape(-1,1))

In [ ]:

df_Suburb_dummies = pd.get_dummies(df_full, columns=['Suburb'])
df_Regionname_dummies = pd.get_dummies(df_full, columns=['Regionname'])
df_CouncilArea_dummies = pd.get_dummies(df_full, columns=['CouncilArea'])
df_Type_dummies = pd.get_dummies(df_full, columns=['Type'])

In [ ]:
df_Suburb_dummies.head(1)

In [ ]:
df_Regionname_dummies.head(1)

In [ ]:
df_CouncilArea_dummies.head(1)

In [ ]:
councilarea_dummies = df_CouncilArea_dummies.iloc[0:63023, 12:47]

councilarea_dummies.head(1)

In [ ]:
regionname_dummies = df_Regionname_dummies.iloc[0:63023, 12:20]

regionname_dummies.head(1)

In [ ]:
suburb_dummies = df_Suburb_dummies.iloc[0:63023, 12:392]

suburb_dummies.head(1)

In [ ]:
df_full